<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mezzio Documentation">
    <link rel="shortcut icon" href="/img/trademark-laminas-foundation-rgb.svg">

    <title>Laminas Components Documentation</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="page-top" class="components">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="logo-link navbar-brand" href="https://getlaminas.org/" data-tooltip data-placement="bottom" title="Go to the Laminas homepage">
            <img src="https://docs.laminas.dev/img/laminas-foundation-white.svg" height="28" alt="Lamnias">
        </a>
        <a class="navbar-title" href="https://docs.laminas.dev/" data-tooltip
           data-placement="bottom" title="Go to the Laminas Documentation">
            Documentation
        </a>

        <button type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                            All Docs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="https://docs.laminas.dev/components">Components</a>
                            <a class="dropdown-item" href="https://docs.mezzio.dev/">Mezzio</a>
                            <a class="dropdown-item" href="https://api-tools.getlaminas.org/docs">API Tools</a>
                            <a class="dropdown-item" href="https://docs.laminas.dev/mvc">MVC</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://getlaminas.org/participate" class="nav-link">Community</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="header__title">
                    Components
                </h1>
            </div>
            <div class="col-6 text-right">
                <a href="https://github.com/laminas/" class="header__link header__link--github" title="Go to repository of Laminas Components">
                    <i class="fa fa-github"></i> GitHub
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <main class="col-sm-12 content">
            <!-- START COMPONENT LISTS --><h3 class="display-4">Documentation of Components<br>
    <small class="text-muted">Components for Enterprise Applications</small>
</h3>
<hr>

<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-barcode">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-barcode
            </div>
            <div class="card-body">
                <h5 class="card-title">Barcode</h5>
                <p class="card-text">Programmatically create and render barcodes as images or in PDFs.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-cache/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-cache
            </div>
            <div class="card-body">
                <h5 class="card-title">Cache</h5>
                <p class="card-text">Caching implementation with a variety of storage options, as well as codified caching strategies for callbacks, classes, and output.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-code/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-code
            </div>
            <div class="card-body">
                <h5 class="card-title">Code</h5>
                <p class="card-text">Extensions to the PHP Reflection API, static code scanning, and code generation.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-db/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-db
            </div>
            <div class="card-body">
                <h5 class="card-title">DB</h5>
                <p class="card-text">Database abstraction layer, SQL abstraction, result set abstraction, and RowDataGateway and TableDataGateway implementations.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-di/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-di
            </div>
            <div class="card-body">
                <h5 class="card-title">DI</h5>
                <p class="card-text">Automated dependency injection and instance manager.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-dom/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-dom
            </div>
            <div class="card-body">
                <h5 class="card-title">DOM</h5>
                <p class="card-text">Query HTML and XML documents using XPath or CSS selectors.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-eventmanager/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-eventmanager
            </div>
            <div class="card-body">
                <h5 class="card-title">EventManager</h5>
                <p class="card-text">Implement events, signal slots, aspects, and observers!</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-feed/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-feed
            </div>
            <div class="card-body">
                <h5 class="card-title">Feed</h5>
                <p class="card-text">Consume and generate Atom and RSS feeds, and interact with Pubsubhubbub.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-file/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-file
            </div>
            <div class="card-body">
                <h5 class="card-title">File</h5>
                <p class="card-text">Locate PHP classfiles.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-form/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-form
            </div>
            <div class="card-body">
                <h5 class="card-title">Form</h5>
                <p class="card-text">Validate and display simple and complex forms, casting forms to business objects and vice versa.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-hydrator/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-hydrator
            </div>
            <div class="card-body">
                <h5 class="card-title">Hydrator</h5>
                <p class="card-text">Serialize objects to arrays, and vice versa.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-i18n/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-i18n
            </div>
            <div class="card-body">
                <h5 class="card-title">Internationalization</h5>
                <p class="card-text">Provide translations for your application, and filter and validate internationalized values.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-json/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-json
            </div>
            <div class="card-body">
                <h5 class="card-title">JSON</h5>
                <p class="card-text">De/Serialize JSON in PHP, including JavaScript expressions.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-loader/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-loader
            </div>
            <div class="card-body">
                <h5 class="card-title">Loader</h5>
                <p class="card-text">Autoloading and plugin loading strategies.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-log/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-log
            </div>
            <div class="card-body">
                <h5 class="card-title">Log</h5>
                <p class="card-text">Robust, composite logger with filtering, formatting, and PSR-3 support.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-math/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-math
            </div>
            <div class="card-body">
                <h5 class="card-title">Math</h5>
                <p class="card-text">Create cryptographically secure pseudo-random numbers, and manage big integers.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-memory/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-memory
            </div>
            <div class="card-body">
                <h5 class="card-title">Memory</h5>
                <p class="card-text">Manage data in an environment with limited memory.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-progressbar/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-progressbar
            </div>
            <div class="card-body">
                <h5 class="card-title">ProgressBar</h5>
                <p class="card-text">Create and update progress bars in different environments.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-router/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-router
            </div>
            <div class="card-body">
                <h5 class="card-title">Router</h5>
                <p class="card-text">Flexible routing system for HTTP and console applications.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-serializer/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-serializer
            </div>
            <div class="card-body">
                <h5 class="card-title">Serializer</h5>
                <p class="card-text">Serialize and deserialize PHP structures to a variety of representations.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-servicemanager/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-servicemanager
            </div>
            <div class="card-body">
                <h5 class="card-title">ServiceManager</h5>
                <p class="card-text">Factory-Driven Dependency Injection Container</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-session/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-session
            </div>
            <div class="card-body">
                <h5 class="card-title">Session</h5>
                <p class="card-text">Object-oriented interface to PHP sessions and storage.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-soap/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-soap
            </div>
            <div class="card-body">
                <h5 class="card-title">SOAP</h5>
                <p class="card-text">Create, serve, and access SOAP applications, and parse and generate WSDL.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-stdlib/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-stdlib
            </div>
            <div class="card-body">
                <h5 class="card-title">Stdlib</h5>
                <p class="card-text">SPL extensions, array utilities, error handlers, and more.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-tag/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-tag
            </div>
            <div class="card-body">
                <h5 class="card-title">Tag</h5>
                <p class="card-text">Manipulate and weight taggable items, and create tag clouds.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-text/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-text
            </div>
            <div class="card-body">
                <h5 class="card-title">Text</h5>
                <p class="card-text">Create FIGlets and text-based tables.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-view/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-view
            </div>
            <div class="card-body">
                <h5 class="card-title">View</h5>
                <p class="card-text">Flexible view layer supporting and providing multiple view layers, helpers, and more.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-xml2json/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-xml2json
            </div>
            <div class="card-body">
                <h5 class="card-title">XML2JSON</h5>
                <p class="card-text">Convert XML documents to JSON.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-diagnostics/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-diagnostics
            </div>
            <div class="card-body">
                <h5 class="card-title">Diagnostics</h5>
                <p class="card-text">Universal set of diagnostic tests for PHP applications.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Config</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-config/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-config
            </div>
            <div class="card-body">
                <h5 class="card-title">Config</h5>
                <p class="card-text">Read and write configuration files.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-config-aggregator/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-config-aggregator
            </div>
            <div class="card-body">
                <h5 class="card-title">ConfigAggregator</h5>
                <p class="card-text">Lightweight library for collecting and merging configuration from different sources.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-config-aggregator-modulemanager/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-config-aggregator-modulemanager
            </div>
            <div class="card-body">
                <h5 class="card-title">ConfigAggregator ModuleManager Plugin</h5>
                <p class="card-text">Consume zend-mvc modules as configuration providers within zend-config-aggregator.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-config-aggregator-parameters/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-config-aggregator-parameters
            </div>
            <div class="card-body">
                <h5 class="card-title">ConfigAggregator Templated Parameters PostProcessor</h5>
                <p class="card-text">PostProcessor extension for laminas/laminas-config-aggregator to allow usage of templated parameters within your configuration.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Deprecated Packages</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-console/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-console
            </div>
            <div class="card-body">
                <h5 class="card-title">Console</h5>
                <p class="card-text">[DEPRECATED] Build console applications using getopt syntax or routing, complete with prompts</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-servicemanager-di/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-servicemanager-di
            </div>
            <div class="card-body">
                <h5 class="card-title">ServiceManager-Di integration</h5>
                <p class="card-text">[DEPRECATED] zend-di integration for zend-servicemanager</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Filtering and Validation</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-filter/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-filter
            </div>
            <div class="card-body">
                <h5 class="card-title">Filter</h5>
                <p class="card-text">Programmatically filter and normalize data and files.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-inputfilter/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-inputfilter
            </div>
            <div class="card-body">
                <h5 class="card-title">InputFilter</h5>
                <p class="card-text">Normalize and validate input sets from the web, APIs, the CLI, and more, including files.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-validator/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-validator
            </div>
            <div class="card-body">
                <h5 class="card-title">Validator</h5>
                <p class="card-text">Validation classes for a wide range of domains, and the ability to chain validators to create complex validation criteria.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>HTTP and URI</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-http/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-http
            </div>
            <div class="card-body">
                <h5 class="card-title">HTTP</h5>
                <p class="card-text">HTTP message and header abstractions, and HTTP client implementation.  (Not a PSR-7 implementation.)</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-httphandlerrunner/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-httphandlerrunner
            </div>
            <div class="card-body">
                <h5 class="card-title">HTTP Request Handler Runner</h5>
                <p class="card-text">Execute PSR-15 RequestHandlerInterface instances and emit responses they generate.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-uri/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-uri
            </div>
            <div class="card-body">
                <h5 class="card-title">URI</h5>
                <p class="card-text">Object oriented interface to URIs, with facilities for validation.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Learn</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/tutorials">
        <div class="card h-100">
            <div class="card-header">
                laminas/tutorials
            </div>
            <div class="card-body">
                <h5 class="card-title">Tutorials</h5>
                <p class="card-text">Learn how to create zend-mvc applications, get in-depth guides into components, and discover how to migrate your applications to version 3!</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Mail and MIME messages</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-mail/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-mail
            </div>
            <div class="card-body">
                <h5 class="card-title">Mail</h5>
                <p class="card-text">Parse, create, store, and send email messages, using a variety of storage and transport protocols.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-mime/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-mime
            </div>
            <div class="card-body">
                <h5 class="card-title">MIME</h5>
                <p class="card-text">Create and parse MIME messages and parts.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Middleware</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-diactoros/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-diactoros
            </div>
            <div class="card-body">
                <h5 class="card-title">Diactoros</h5>
                <p class="card-text">PSR-7 HTTP message implementations.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-stratigility/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-stratigility
            </div>
            <div class="card-body">
                <h5 class="card-title">Stratigility</h5>
                <p class="card-text">PSR-7 middleware foundation for building and dispatching middleware pipelines.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Navigation and Pagination</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-navigation/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-navigation
            </div>
            <div class="card-body">
                <h5 class="card-title">Navigation</h5>
                <p class="card-text">Manage trees of pointers to web pages in order to build navigation systems.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-paginator/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-paginator
            </div>
            <div class="card-body">
                <h5 class="card-title">Paginator</h5>
                <p class="card-text">Paginate collections of data from arbitrary sources.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Permissions</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-permissions-acl/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-permissions-acl
            </div>
            <div class="card-body">
                <h5 class="card-title">ACL</h5>
                <p class="card-text">Create, manage, and query access control lists.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-permissions-rbac/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-permissions-rbac
            </div>
            <div class="card-body">
                <h5 class="card-title">RBAC</h5>
                <p class="card-text">Provide and query Role-Based Access Controls for your application.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Projects</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-component-installer/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-component-installer
            </div>
            <div class="card-body">
                <h5 class="card-title">Component Installer</h5>
                <p class="card-text">Composer plugin for injecting modules and configuration providers into application configuration.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>RPC</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-json-server/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-json-server
            </div>
            <div class="card-body">
                <h5 class="card-title">JSON-RPC Server</h5>
                <p class="card-text">JSON-RPC implementation for PHP.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-server/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-server
            </div>
            <div class="card-body">
                <h5 class="card-title">Server</h5>
                <p class="card-text">Create Reflection-based RPC servers.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-xmlrpc/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-xmlrpc
            </div>
            <div class="card-body">
                <h5 class="card-title">XML-RPC</h5>
                <p class="card-text">Fully-featured XML-RPC server and client implementations.</p>
            </div>
        </div>
    </a>
</div>

</div><h4>Security</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-authentication">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-authentication
            </div>
            <div class="card-body">
                <h5 class="card-title">Authentication</h5>
                <p class="card-text">Authenticate users via a variety of adapters, and provide the authenticated identity to your application.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-captcha/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-captcha
            </div>
            <div class="card-body">
                <h5 class="card-title">Captcha</h5>
                <p class="card-text">Generate and validate CAPTCHAs using Figlets, images, ReCaptcha, and more.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-crypt/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-crypt
            </div>
            <div class="card-body">
                <h5 class="card-title">Crypt</h5>
                <p class="card-text">Strong cryptography tools and password hashing.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-escaper/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-escaper
            </div>
            <div class="card-body">
                <h5 class="card-title">Escaper</h5>
                <p class="card-text">Securely and safely escape HTML, HTML attributes, JavaScript, CSS, and URLs.</p>
            </div>
        </div>
    </a>
</div>

<div class="col mb-4">
    <a href="https://docs.laminas.dev/laminas-ldap/">
        <div class="card h-100">
            <div class="card-header">
                laminas/laminas-ldap
            </div>
            <div class="card-body">
                <h5 class="card-title">LDAP</h5>
                <p class="card-text">Perform LDAP operations, including binding, searching and modifying entries in an LDAP directory.</p>
            </div>
        </div>
    </a>
</div>

</div><!-- END COMPONENT LISTS -->
        </main>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="footer__button" href="#page-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>Laminas</h5>
                <ul>
                    <li>Laminas Project <a href="https://getlaminas.org/">The new foundation for the community-supported, open source continuation of Zend Framework</a></li>
                    <li>Laminas Components and MVC <a href="https://docs.laminas.dev/">Components and MVC for enterprise applications</a></li>
                    <li>Mezzio <a href="https://getmezzio.org/">PSR-15 middleware in minutes</a></li>
                    <li>Laminas API Tools <a href="https://api-tools.getlaminas.org/">Build RESTful APIs in minutes</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4 class="footer__headline">Support</h4>
                <ul class="support__list">
                    <li class="support__list-item">
                        <a href="https://discourse.laminas.dev" class="support__link" title="Forum"><i class="fa fa-comments"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://laminas.dev/chat" class="support__link" title="Chat"><i class="fa fa-slack"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://github.com/laminas" class="support__link" title="Github"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://twitter.com/getlaminas" class="support__link" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://getlaminas.org/blog/feed-rss.xml" class="support__link" title="Blog feed"><i class="fa fa-rss"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://getlaminas.org/security/feed" class="support__link" title="Security feed"><i class="fa fa-rss-square"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h4 class="footer__headline">Copyright</h4>
                <p>
                    &copy; 2019 by <a href="https://getlaminas.org/">The Laminas Project</a>.
                </p>
            </div>
        </div>
    </div>
</footer>

<script>
    let base_url = '/',
        project = "laminas",
        siteName = 'Documentation';
</script>
<script src="/js/scripts.js"></script>
</body>
</html>
