<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Overview of the Laminas Components packages.">
    <link rel="shortcut icon" href="/img/trademark-laminas-foundation-rgb.svg">

    <title>Laminas Components Documentation</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="page-top" class="components components-overview" data-spy="scroll" data-target=".toc" data-offset="120">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="logo-link navbar-brand" href="https://getlaminas.org/" data-tooltip data-placement="bottom" title="Go to the Laminas homepage">
            <img src="https://docs.laminas.dev/img/laminas-foundation-white.svg" height="28" alt="Laminas">
        </a>
        <a class="navbar-title" href="https://docs.laminas.dev/" data-tooltip
           data-placement="bottom" title="Go to the Laminas Documentation">
            Documentation
        </a>

        <button type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown sub-project-selector">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                            All Docs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="https://docs.mezzio.dev/" class="dropdown-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4 col-sm-12">
                                        <img src="/img/laminas-mezzio-rgb.svg" alt="Laminas Mezzio">
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <strong>Mezzio</strong><br>
                                        PSR-15 Middleware in Minutes
                                    </div>
                                </div>
                            </a>
                            <a href="https://docs.laminas.dev/components/" class="dropdown-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4 col-sm-12">
                                        <img src="/img/laminas-components-rgb.svg" alt="Laminas Components">
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <strong>Components</strong><br>
                                        Components for Enterprise Applications
                                    </div>
                                </div>
                            </a>
                            <a href="https://docs.laminas.dev/mvc" class="dropdown-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4 col-sm-12">
                                        <img src="/img/laminas-mvc-rgb.svg" alt="Laminas MVC">
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <strong>MVC</strong><br>
                                        MVC for Enterprise Applications
                                    </div>
                                </div>
                            </a>
                            <a href="https://api-tools.getlaminas.org/documentation" class="dropdown-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4 col-sm-12">
                                        <img src="/img/laminas-api-tools-rgb.svg" alt="Laminas API Tools">
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <strong>API Tools</strong><br>
                                        Build RESTful APIs in Minutes
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdown-item--secondardy" href="https://docs.laminas.dev/migration/">
                                <div class="row align-items-center">
                                    <div class="col-md-8 offset-md-4 col-sm-12">
                                        Migration to Laminas
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item dropdown-item--secondardy" href="https://docs.laminas.dev/tutorials/">
                                <div class="row align-items-center">
                                    <div class="col-md-8 offset-md-4 col-sm-12">
                                        Tutorials
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://getlaminas.org/participate" class="nav-link">Community</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="header__title">
                    Components
                </h1>
            </div>
            <div class="col-md-6 text-right">
                <a href="https://github.com/laminas/" class="header__link header__link--github" title="Go to repository of Laminas Components">
                    <i class="fa fa-github"></i> GitHub
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <main class="col-sm-12 content">
            <!-- START COMPONENT LISTS --><h3 class="display-4">Documentation of Components<br>
    <small class="text-muted">Components for Enterprise Applications</small>
</h3>
<hr>
<div class="toc">
    <h6 class="toc__headline">On this page</h6>
    <ul class="toc__list"><li class="toc__entry">
    <a href="#basic-essentials" class="toc__link nav-link">Basic Essentials</a>
</li><li class="toc__entry">
    <a href="#code-generation" class="toc__link nav-link">Code Generation</a>
</li><li class="toc__entry">
    <a href="#configuration" class="toc__link nav-link">Configuration</a>
</li><li class="toc__entry">
    <a href="#dependency-injection" class="toc__link nav-link">Dependency Injection</a>
</li><li class="toc__entry">
    <a href="#filtering-and-validation" class="toc__link nav-link">Filtering and Validation</a>
</li><li class="toc__entry">
    <a href="#html-css-and-js" class="toc__link nav-link">HTML, CSS and JS</a>
</li><li class="toc__entry">
    <a href="#http-and-uri" class="toc__link nav-link">HTTP and URI</a>
</li><li class="toc__entry">
    <a href="#internationalization" class="toc__link nav-link">Internationalization</a>
</li><li class="toc__entry">
    <a href="#json-and-xml" class="toc__link nav-link">JSON and XML</a>
</li><li class="toc__entry">
    <a href="#mail-and-mime-messages" class="toc__link nav-link">Mail and MIME messages</a>
</li><li class="toc__entry">
    <a href="#middleware-psr-7-psr-15-psr-17" class="toc__link nav-link">Middleware (PSR-7, PSR-15, PSR-17)</a>
</li><li class="toc__entry">
    <a href="#navigation-and-pagination" class="toc__link nav-link">Navigation and Pagination</a>
</li><li class="toc__entry">
    <a href="#permissions" class="toc__link nav-link">Permissions</a>
</li><li class="toc__entry">
    <a href="#soap-and-rpc" class="toc__link nav-link">SOAP and RPC</a>
</li><li class="toc__entry">
    <a href="#security" class="toc__link nav-link">Security</a>
</li><li class="toc__entry">
    <a href="#services" class="toc__link nav-link">Services</a>
</li><li class="toc__entry">
    <a href="#tag-and-text" class="toc__link nav-link">Tag and Text</a>
</li><li class="toc__entry">
    <a href="#tooling" class="toc__link nav-link">Tooling</a>
</li><li class="toc__entry">
    <a href="#utilities" class="toc__link nav-link">Utilities</a>
</li></ul>
</div>
<h4 id="basic-essentials">Basic Essentials</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-cache/" class="stretched-link">
                laminas/laminas-cache
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Cache</h5>
            <p class="card-text">Caching implementation with a variety of storage options, as well as codified caching strategies for callbacks, classes, and output.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-db/" class="stretched-link">
                laminas/laminas-db
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">DB</h5>
            <p class="card-text">Database abstraction layer, SQL abstraction, result set abstraction, and RowDataGateway and TableDataGateway implementations.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-eventmanager/" class="stretched-link">
                laminas/laminas-eventmanager
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">EventManager</h5>
            <p class="card-text">Implement events, signal slots, aspects, and observers!</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-feed/" class="stretched-link">
                laminas/laminas-feed
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Feed</h5>
            <p class="card-text">Consume and generate Atom and RSS feeds, and interact with Pubsubhubbub.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-form/" class="stretched-link">
                laminas/laminas-form
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Form</h5>
            <p class="card-text">Validate and display simple and complex forms, casting forms to business objects and vice versa.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-hydrator/" class="stretched-link">
                laminas/laminas-hydrator
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Hydrator</h5>
            <p class="card-text">Serialize objects to arrays, and vice versa.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-log/" class="stretched-link">
                laminas/laminas-log
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Log</h5>
            <p class="card-text">Robust, composite logger with filtering, formatting, and PSR-3 support.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-router/" class="stretched-link">
                laminas/laminas-router
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Router</h5>
            <p class="card-text">Flexible routing system for HTTP and console applications.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-session/" class="stretched-link">
                laminas/laminas-session
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Session</h5>
            <p class="card-text">Object-oriented interface to PHP sessions and storage.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-view/" class="stretched-link">
                laminas/laminas-view
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">View</h5>
            <p class="card-text">Flexible view layer supporting and providing multiple view layers, helpers, and more.</p>
        </div>
    </div>
</div>

</div><h4 id="code-generation">Code Generation</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-code/" class="stretched-link">
                laminas/laminas-code
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Code</h5>
            <p class="card-text">Extensions to the PHP Reflection API, static code scanning, and code generation.</p>
        </div>
    </div>
</div>

</div><h4 id="configuration">Configuration</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-config/" class="stretched-link">
                laminas/laminas-config
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Config</h5>
            <p class="card-text">Read and write configuration files.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-config-aggregator/" class="stretched-link">
                laminas/laminas-config-aggregator
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">ConfigAggregator</h5>
            <p class="card-text">Lightweight library for collecting and merging configuration from different sources.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-config-aggregator-modulemanager/" class="stretched-link">
                laminas/laminas-config-aggregator-modulemanager
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">ConfigAggregator ModuleManager Plugin</h5>
            <p class="card-text">Consume zend-mvc modules as configuration providers within zend-config-aggregator.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-config-aggregator-parameters/" class="stretched-link">
                laminas/laminas-config-aggregator-parameters
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">ConfigAggregator Templated Parameters PostProcessor</h5>
            <p class="card-text">PostProcessor extension for laminas/laminas-config-aggregator to allow usage of templated parameters within your configuration.</p>
        </div>
    </div>
</div>

</div><h4 id="dependency-injection">Dependency Injection</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-di/" class="stretched-link">
                laminas/laminas-di
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">DI</h5>
            <p class="card-text">Automated dependency injection and instance manager.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-servicemanager/" class="stretched-link">
                laminas/laminas-servicemanager
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">ServiceManager</h5>
            <p class="card-text">Factory-Driven Dependency Injection Container</p>
        </div>
    </div>
</div>

</div><h4 id="filtering-and-validation">Filtering and Validation</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-filter/" class="stretched-link">
                laminas/laminas-filter
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Filter</h5>
            <p class="card-text">Programmatically filter and normalize data and files.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-inputfilter/" class="stretched-link">
                laminas/laminas-inputfilter
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">InputFilter</h5>
            <p class="card-text">Normalize and validate input sets from the web, APIs, the CLI, and more, including files.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-validator/" class="stretched-link">
                laminas/laminas-validator
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Validator</h5>
            <p class="card-text">Validation classes for a wide range of domains, and the ability to chain validators to create complex validation criteria.</p>
        </div>
    </div>
</div>

</div><h4 id="html-css-and-js">HTML, CSS and JS</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-dom/" class="stretched-link">
                laminas/laminas-dom
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">DOM</h5>
            <p class="card-text">Query HTML and XML documents using XPath or CSS selectors.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-escaper/" class="stretched-link">
                laminas/laminas-escaper
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Escaper</h5>
            <p class="card-text">Securely and safely escape HTML, HTML attributes, JavaScript, CSS, and URLs.</p>
        </div>
    </div>
</div>

</div><h4 id="http-and-uri">HTTP and URI</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-http/" class="stretched-link">
                laminas/laminas-http
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">HTTP</h5>
            <p class="card-text">HTTP message and header abstractions, and HTTP client implementation.  (Not a PSR-7 implementation.)</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-uri/" class="stretched-link">
                laminas/laminas-uri
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">URI</h5>
            <p class="card-text">Object oriented interface to URIs, with facilities for validation.</p>
        </div>
    </div>
</div>

</div><h4 id="internationalization">Internationalization</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-i18n/" class="stretched-link">
                laminas/laminas-i18n
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Internationalization</h5>
            <p class="card-text">Provide translations for your application, and filter and validate internationalized values.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-i18n-resources/" class="stretched-link">
                laminas/laminas-i18n-resources
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Translation Resources</h5>
            <p class="card-text">Provides validator and captcha translations for laminas-i18n's Translator.</p>
        </div>
    </div>
</div>

</div><h4 id="json-and-xml">JSON and XML</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-json/" class="stretched-link">
                laminas/laminas-json
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">JSON</h5>
            <p class="card-text">De/Serialize JSON in PHP, including JavaScript expressions.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-xml2json/" class="stretched-link">
                laminas/laminas-xml2json
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">XML2JSON</h5>
            <p class="card-text">Convert XML documents to JSON.</p>
        </div>
    </div>
</div>

</div><h4 id="mail-and-mime-messages">Mail and MIME messages</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-mail/" class="stretched-link">
                laminas/laminas-mail
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Mail</h5>
            <p class="card-text">Parse, create, store, and send email messages, using a variety of storage and transport protocols.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-mime/" class="stretched-link">
                laminas/laminas-mime
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">MIME</h5>
            <p class="card-text">Create and parse MIME messages and parts.</p>
        </div>
    </div>
</div>

</div><h4 id="middleware-psr-7-psr-15-psr-17">Middleware (PSR-7, PSR-15, PSR-17)</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-diactoros/" class="stretched-link">
                laminas/laminas-diactoros
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Diactoros</h5>
            <p class="card-text">PSR-7 HTTP message implementations.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-httphandlerrunner/" class="stretched-link">
                laminas/laminas-httphandlerrunner
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">HTTP Request Handler Runner</h5>
            <p class="card-text">Execute PSR-15 RequestHandlerInterface instances and emit responses they generate.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-stratigility/" class="stretched-link">
                laminas/laminas-stratigility
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Stratigility</h5>
            <p class="card-text">PSR-7 middleware foundation for building and dispatching middleware pipelines.</p>
        </div>
    </div>
</div>

</div><h4 id="navigation-and-pagination">Navigation and Pagination</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-navigation/" class="stretched-link">
                laminas/laminas-navigation
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Navigation</h5>
            <p class="card-text">Manage trees of pointers to web pages in order to build navigation systems.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-paginator/" class="stretched-link">
                laminas/laminas-paginator
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Paginator</h5>
            <p class="card-text">Paginate collections of data from arbitrary sources.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-paginator-adapter-laminasdb/" class="stretched-link">
                laminas/laminas-paginator-adapter-laminasdb
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">laminas-db Paginators</h5>
            <p class="card-text">Paginate result sets from laminas-db Select statements or TableGateway instances.</p>
        </div>
    </div>
</div>

</div><h4 id="permissions">Permissions</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-permissions-acl/" class="stretched-link">
                laminas/laminas-permissions-acl
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">ACL</h5>
            <p class="card-text">Create, manage, and query access control lists.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-permissions-rbac/" class="stretched-link">
                laminas/laminas-permissions-rbac
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">RBAC</h5>
            <p class="card-text">Provide and query Role-Based Access Controls for your application.</p>
        </div>
    </div>
</div>

</div><h4 id="soap-and-rpc">SOAP and RPC</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-soap/" class="stretched-link">
                laminas/laminas-soap
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">SOAP</h5>
            <p class="card-text">Create, serve, and access SOAP applications, and parse and generate WSDL.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-json-server/" class="stretched-link">
                laminas/laminas-json-server
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">JSON-RPC Server</h5>
            <p class="card-text">JSON-RPC implementation for PHP.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-server/" class="stretched-link">
                laminas/laminas-server
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Server</h5>
            <p class="card-text">Create Reflection-based RPC servers.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-xmlrpc/" class="stretched-link">
                laminas/laminas-xmlrpc
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">XML-RPC</h5>
            <p class="card-text">Fully-featured XML-RPC server and client implementations.</p>
        </div>
    </div>
</div>

</div><h4 id="security">Security</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-authentication" class="stretched-link">
                laminas/laminas-authentication
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Authentication</h5>
            <p class="card-text">Authenticate users via a variety of adapters, and provide the authenticated identity to your application.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-captcha/" class="stretched-link">
                laminas/laminas-captcha
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Captcha</h5>
            <p class="card-text">Generate and validate CAPTCHAs using Figlets, images, ReCaptcha, and more.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-recaptcha/" class="stretched-link">
                laminas/laminas-recaptcha
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">ReCaptcha</h5>
            <p class="card-text">OOP wrapper for the ReCaptcha web service.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-crypt/" class="stretched-link">
                laminas/laminas-crypt
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Crypt</h5>
            <p class="card-text">Strong cryptography tools and password hashing.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-ldap/" class="stretched-link">
                laminas/laminas-ldap
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">LDAP</h5>
            <p class="card-text">Perform LDAP operations, including binding, searching and modifying entries in an LDAP directory.</p>
        </div>
    </div>
</div>

</div><h4 id="services">Services</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-twitter/" class="stretched-link">
                laminas/laminas-twitter
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Twitter</h5>
            <p class="card-text">Consume and exercise the Twitter API.</p>
        </div>
    </div>
</div>

</div><h4 id="tag-and-text">Tag and Text</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-tag/" class="stretched-link">
                laminas/laminas-tag
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Tag</h5>
            <p class="card-text">Manipulate and weight taggable items, and create tag clouds.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-text/" class="stretched-link">
                laminas/laminas-text
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Text</h5>
            <p class="card-text">Create FIGlets and text-based tables.</p>
        </div>
    </div>
</div>

</div><h4 id="tooling">Tooling</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-cli/" class="stretched-link">
                laminas/laminas-cli
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">CLI</h5>
            <p class="card-text">Command-line interface for Laminas projects.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-component-installer/" class="stretched-link">
                laminas/laminas-component-installer
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Component Installer</h5>
            <p class="card-text">Composer plugin for injecting modules and configuration providers into application configuration.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-diagnostics/" class="stretched-link">
                laminas/laminas-diagnostics
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Diagnostics</h5>
            <p class="card-text">Universal set of diagnostic tests for PHP applications.</p>
        </div>
    </div>
</div>

</div><h4 id="utilities">Utilities</h4>
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-barcode" class="stretched-link">
                laminas/laminas-barcode
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Barcode</h5>
            <p class="card-text">Programmatically create and render barcodes as images or in PDFs.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-file/" class="stretched-link">
                laminas/laminas-file
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">File</h5>
            <p class="card-text">Locate PHP classfiles.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-loader/" class="stretched-link">
                laminas/laminas-loader
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Loader</h5>
            <p class="card-text">Autoloading and plugin loading strategies.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-math/" class="stretched-link">
                laminas/laminas-math
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Math</h5>
            <p class="card-text">Create cryptographically secure pseudo-random numbers, and manage big integers.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-memory/" class="stretched-link">
                laminas/laminas-memory
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Memory</h5>
            <p class="card-text">Manage data in an environment with limited memory.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-progressbar/" class="stretched-link">
                laminas/laminas-progressbar
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">ProgressBar</h5>
            <p class="card-text">Create and update progress bars in different environments.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-serializer/" class="stretched-link">
                laminas/laminas-serializer
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Serializer</h5>
            <p class="card-text">Serialize and deserialize PHP structures to a variety of representations.</p>
        </div>
    </div>
</div>

<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header">
            <a href="https://docs.laminas.dev/laminas-stdlib/" class="stretched-link">
                laminas/laminas-stdlib
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Stdlib</h5>
            <p class="card-text">SPL extensions, array utilities, error handlers, and more.</p>
        </div>
    </div>
</div>

</div><!-- END COMPONENT LISTS -->
        </main>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="footer__button" href="#page-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>Laminas</h5>
                <ul>
                    <li>Laminas Project <a href="https://getlaminas.org/">The new foundation for the community-supported, open source continuation of Zend Framework</a></li>
                    <li>Laminas Components and MVC <a href="https://docs.laminas.dev/">Components and MVC for enterprise applications</a></li>
                    <li>Mezzio <a href="https://docs.mezzio.dev/">PSR-15 middleware in minutes</a></li>
                    <li>Laminas API Tools <a href="https://api-tools.getlaminas.org/">Build RESTful APIs in minutes</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4 class="footer__headline">Support</h4>
                <ul class="support__list">
                    <li class="support__list-item">
                        <a href="https://discourse.laminas.dev" class="support__link" title="Forum"><i class="fa fa-comments"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://laminas.dev/chat" class="support__link" title="Chat"><i class="fa fa-slack"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://github.com/laminas" class="support__link" title="Github"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://twitter.com/getlaminas" class="support__link" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://getlaminas.org/blog/rss.xml" class="support__link" title="Blog feed"><i class="fa fa-rss"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://getlaminas.org/security/feed" class="support__link" title="Security feed"><i class="fa fa-rss-square"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h4 class="footer__headline">Copyright</h4>
                <p>
                    &copy; 2023 by <a href="https://getlaminas.org/">Laminas Project</a> a Series of LF Projects, LLC.
                </p>
            </div>
        </div>
    </div>
</footer>

<script>
    let base_url = '/',
        project = 'components',
        siteName = 'Documentation';
</script>
<script src="/js/scripts.js"></script>
</body>
</html>
