.anchorjs-link {
    transition: all .25s linear;

    &:hover {
        text-decoration: none;
    }

    *:hover > & {
        margin-left: -1.125em !important;
    }

    &:after {
        display: inline-block;
    }
}
