.docs,
.components,
.mvc,
.mezzio,
.api-tools {
    &-overview {
        background: $overiew-body-bg;

        .content {
            background-color: transparent;
            padding-right: $grid-gutter-width / 2;

            & > h4 {
                margin-top: map_get($spacers, 5);
                margin-bottom: map_get($spacers, 4);
                text-transform: uppercase;
                padding-left: $card-spacer-x;
            }
        }

        *[class^='display'] {
            text-align: center;
            margin-top: 0;
        }
    }
}
