html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(249,250,251,1) 50%, rgba(249,250,251,1) 100%);

    & > .container {
        flex-grow: 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    word-wrap: break-word;
    line-height: 1.1;

    code {
        padding: 0;
        background-color: transparent;
    }
}

code {
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

blockquote {
    background-color: lighten($separater-color, 3%);
    padding: map_get($spacers, 4) map_get($spacers, 4) 0;
    margin-bottom: $spacer;
    border-left: 5px solid #eee;

    @include font-size($blockquote-font-size);

    h3 {
        margin-top: 0;
        margin-bottom: $spacer;
        font-weight: 400;

        @include font-size($blockquote-font-size * 1.4);
    }
}

pre,
pre[class*="language-"] {
    font-size: 13px;
    border-radius: 0;
    border: none;
    background-color: $code-sample-bg-color;
    margin-top: map_get($spacers, 3);
    margin-bottom: map_get($spacers, 3);
}

details {
    margin-top: map_get($spacers, 3);
    margin-bottom: map_get($spacers, 3);
    border-top: 1px solid darken($separater-color, 10%);
    border-bottom: 1px solid darken($separater-color, 10%);
}

summary {
    font-weight: bold;
    padding: $spacer * 0.7;

    &:hover {
        background-color: $separater-color;
    }
}
