.docs-overview {
    --primary-color: #d0d0d0;
}

.components {
    --primary-color: #E64010;
}

.mvc {
    --primary-color: #009EE3;
}

.mezzio {
    --primary-color: #009655;
}

.api-tools {
    --primary-color: #E5007D;
}
