// Colors
$header-footer-bg-color: rgb(60, 65, 70);
$header-footer-font-color: #fff;
$separater-color: #efefef;
$text-color-secondary: rgb(119, 119, 119);
$text-color-reduced: rgb(150, 152, 154);

$projectColors : (
    api-tools: #E5007D,
    components: #E64010,
    mezzio: #009655,
    mvc: #009EE3,
);

// Bootstrap variables

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1600px,
);

// Colors
$brand-primary: rgb(1, 55, 85);
$link-color: $brand-primary;

$primary: $brand-primary;

$theme-colors: (
  "laminas":     #E64010,
  "mvc":         #009EE3,
  "api-tools":   #E5007D,
  "mezzio":      #009655,
);

// Font
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.95rem;
$font-size-small: $font-size-base * 0.8;
$line-height-base: 1.65;
$headings-font-family: 'Quicksand', sans-serif;
$headings-font-weight: 600;
$lower-headings-font-weight: 400;
$blockquote-font-size: $font-size-base;

// Border radius
$border-radius-base: 0;

// Navbar
$navbar-default-color: $header-footer-font-color;
$navbar-default-bg: $header-footer-bg-color;

$navbar-default-link-color: $header-footer-font-color;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: darken($brand-primary, 10%);
$navbar-default-link-active-color: $link-color;

$navbar-default-brand-color: $link-color;
$navbar-default-brand-hover-color: $header-footer-font-color;

$navbar-margin-bottom: 0;

// Dropdown
$dropdown-bg: $header-footer-bg-color;
$dropdown-border: transparent;
$dropdown-divider-bg: darken($header-footer-font-color, 50%);

$dropdown-link-color: $header-footer-font-color;
$dropdown-link-hover-color: $link-color;
$dropdown-link-hover-bg: $header-footer-bg-color;

$dropdown-link-active-color: $header-footer-font-color;
$dropdown-link-active-bg: $link-color;

// Breadcrumbs
$breadcrumb-margin-bottom: 1.2rem;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider: quote('»');

// Pager
$pager-border-radius: none;

// Modal
$modal-md: 60em;

// Tabs
$nav-tabs-border-color: transparent;
$nav-tabs-link-hover-border-color: transparent;

$nav-tabs-active-link-hover-bg: $header-footer-bg-color;
$nav-tabs-active-link-hover-color: $brand-primary;
$nav-tabs-active-link-hover-border-color: $header-footer-bg-color;

// Font-awesome path
$fa-font-path: 'fonts';
$fa-font-size-base: 18px;
