@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quicksand:400,700&display=swap');
/*@import '../fonts/fonts';*/
@import 'settings';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/_utilities';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/choices.js/src/styles/choices';
@import '../node_modules/prismjs/themes/prism-okaidia';
@import '../node_modules/prismjs/plugins/line-highlight/prism-line-highlight';
@import '../node_modules/prismjs/plugins/line-numbers/prism-line-numbers';
@import 'projects';
@import 'elements';
@import 'misc';
@import 'blocks/admonition';
@import 'blocks/anchorjs';
@import 'blocks/breadcrumb';
@import 'blocks/card';
@import "blocks/choices";
@import "blocks/component";
@import "blocks/component-selector";
@import 'blocks/content';
@import 'blocks/donation-banner';
@import 'blocks/dropdown';
@import 'blocks/footer';
@import "blocks/header";
@import "blocks/help-wanted";
@import 'blocks/line-highlight';
@import 'blocks/navbar';
@import 'blocks/overview';
@import 'blocks/page-nav';
@import 'blocks/prism.plugin.treeview';
@import 'blocks/sidebar';
@import 'blocks/sub-project-selector';
@import 'blocks/subnavigation';
@import 'blocks/support';
@import 'blocks/tab';
@import 'blocks/toc';
@import 'blocks/version-selector';
